{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1 >Your Drug Cabinet</h1>
</div>

<!--<img class="home-img" src="../../static/img/drug-mascot.jpg">-->
<img class="home-img" src="../../static/img/header-healthcare.jpg">

  <!--{% include "components/add_drug.html" %}-->

  <div class="drugs-cabinet">
    <div class="drug-item">
      <h1 class="drug-title">
        Ritalin
      </h1>
      <div class="drug-info">
        {% include "components/drug-information.html" %}
        {% include "components/progress-bar.html" %}
        {% include "components/reorder.html" %}
      </div>
    </div>
    <div class="drug-item">
      <h1 class="drug-title">
        Aspirin
      </h1>
      <div class="drug-info">
        {% include "components/drug-information.html" %}
        {% include "components/progress-bar.html" %}
        {% include "components/reorder.html" %}
      </div>
    </div>
    <div class="drug-item">
      <h1 class="drug-title">
        Paracetamol
      </h1>
      <div class="drug-info">
        {% include "components/drug-information.html" %}
        <h4 class="progress-label">
          Drug Stock Level
        </h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped text-center" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        {% include "components/reorder.html" %}
      </div>
    </div>
  </div>

  {% include "components/add_drug.html" %}


  {% include "components/check_interaction.html" %}

{% endblock %}
