{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1 >Your Drug Cabinet</h1>
</div>

  {% include "components/add_drug.html" %}

  <div class="drugs-cabinet">
    <div class="drug-item">
      <h1 class="drug-title">
        Ritalin
      </h1>
      <div class="drug-info">
        {% include "components/drug-information.html" %}
      </div>
        {% include "components/progress-bar.html" %}
    </div>
    <div class="drug-item">
      <h1 class="drug-title">
        Aspirin
      </h1>
      <div class="drug-info">
        {% include "components/drug-information.html" %}
      </div>
        {% include "components/progress-bar.html" %}
    </div>
    <div class="drug-item">
      <h1 class="drug-title">
        Ritalin
      </h1>
      <div class="drug-info">
        {% include "components/drug-information.html" %}
      </div>
        {% include "components/progress-bar.html" %}
    </div>
  </div>

  {% include "components/add_drug.html" %}

{% endblock %}
