{% extends 'layouts/main.html' %}
{% block title %}Search Result{% endblock %}
{% block content %}
<h1>Search Result</h1>

<div class="search-result">
  
  {% for drug in drugslist %}
  
  <div class="drugs-result">
    <strong>{{ drug.title }}</strong>
    <div><strong>Swissmedic Id</strong>: {{ drug.swissmedicIds }}</div>
    <div><strong>Substances</strong>{{ drug.substances }}</div>
    <a href="/add" type="button" class="btn btn-primary">Add To Cabinet</a>
  </div>
  
  {% endfor %}

</div>
{% endblock %}
