{% extends 'layouts/main.html' %}
{% block title %}Search Result{% endblock %}
{% block content %}
<h1>Search Result</h1>

<div class="search-result">
  
  {% for drug in drugslist %}
  
  <div class="drugs-result">
    <strong>{{ drug.title }}</strong>
    <div><strong>Swissmedic Id(s)</strong>:
      {% for swissmedicId in drug.swissmedicIds %}
      {{ swissmedicId }}, 
      {% endfor %}
    
    </div>
    {% if drug.substances %}
    <div><strong>Substances</strong>:
      {% for substance in drug.substances %}
      {{ substance }}, 
      {% endfor %}
    </div>
    {% endif %} 
    <div class="quantity-and-button">
      <span class="quantity-field qty mt-5">
        <span class="minus bg-dark">-</span>
        <form method="post">
          <input type="number" class="count" name="qty" value="1">
        </form>
        <span class="plus bg-dark">+</span>
      </span>
      <span><a href="/add" type="button" class="btn btn-primary">Add To Cabinet</a></span>
    </div>
  </div>
  
  {% endfor %}

</div>
{% endblock %}
