
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/
.progress {
  min-width: -webkit-fill-available;
}
.drug-info {
  width: -webkit-fill-available;
}
#drugname {
  width: -webkit-fill-available;
}

/* Various other styles end */
/*****************************************************************************
 * main.html
 ****************************************************************************/
#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*****************************************************************************
 * home.html
 ****************************************************************************/
.logo {
  height: 50px;
  width: 50px;
}

/************ medicine cabinet grid **********/
.drugs-cabinet {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-row-gap: 10px;
  background-color: aliceblue;
  padding: 20px;
}
.drug-item {
  border: 1px solid #ccc;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width : 1224px) {
.drugs-cabinet {
    grid-template-rows: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
  }
}

/*****************************************************************************
 * add_drug.html
 ****************************************************************************/
.add-drug{
  display: flex;
  justify-content: center;
  margin: 20px;
}

/*****************************************************************************
 * progress-bar.html
 ****************************************************************************/
.progress-label {
  align-self: end;
}

/*****************************************************************************
 * searchresult.html
 ****************************************************************************/
.search-result {
  display: grid;
  grid-row-gap: 10px;
}
.drugs-result {
  display: grid;
  grid-row-gap: 5px;
}
.quantity-field {
  display: flex;
  margin-right: 5px;
}
.quantity-and-button {
  display: flex;
}

/*****************************************************************************
 * reorder.html
 ****************************************************************************/
.reorder-drug {
  justify-content: center;
  display: flex;
}

/*****************************************************************************
 * search_drugs.html
 ****************************************************************************/
.search-drug-form {
  display: flex;
}

/*****************************************************************************
 * register.html
 ****************************************************************************/
.registration-form {
  display: grid;
  grid-row-gap: 10px;
}
