{% extends 'layouts/main.html' %}
{% block title %}Search Drug{% endblock %}
{% block content %}

<h3 class="form-heading">Search our Drug Database</h3>

<form method="post" class="form-inline" action="http://localhost:5000/search/result">
	{{ form.drugname(class_ = 'form-control first-input', placeholder = form.drugname.label.text, required = true, autofocus = true) }}
    <input type="submit" class="btn btn-primary" type="text" placeholder="Search for a Drug" aria-label="Search">
</form></i></form>
{% endblock %}
