<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          How to take
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        Two times a day with water
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Warnings
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        Paracetamol kann schwere Hautreaktionen, wie akutes generalisiertes pustulöses Exanthem (AGEP), Stevens-Johnson Syndrom (SJS) und Toxische Epidermale Nekrolyse (TEN) verursachen, welche tödlich sein können. Patienten sollten über die Symptome schwerer Hautreaktionen informiert werden und die Anwendung des Arzneimittels sollte beim ersten Auftreten von Hautreaktionen oder anderer Anzeichen einer Überempfindlichkeit abgebrochen werden.
      </div>
    </div>
  </div>
</div>
